<ion-header>
  <ion-toolbar>
    <ion-title>
      Daftar Penyebaran Kotak
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Yayasan Suara Hati
    </ion-list-header>

    <ion-item *ngFor="let loc of locations">
      <ion-avatar slot="start">
        <ion-icon name="play"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>{{loc.name}}</h2>
        <h3>{{loc.district}}</h3>
        <p>{{loc.address}}</p>
        <ion-button (click)="showMap(loc)">Lihat Peta</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
