<ion-header>
  <ion-toolbar>
    <ion-title>
      Entri
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Yayasan Suara Hati</ion-card-subtitle>
        <ion-card-title>YSH App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Akta notaris Indra Rachmandhana <i> M.Kn No 6 Tahun 2016</i>,
          SK Menkum HAM RI <i>AHU-AH.01.06-1611 Tahun 2015</i>,
          STP Dinsos Kab Sidoarjo <i>460/3875/438.5.6/2018</i>,
          NPWP <i>03.025.127.6-643.000</i>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Lokasi Kotak</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="stacked">Nama <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="location.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">CP <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="location.cp"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Alamat <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="location.address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Telp <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="location.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Kecamatan <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="location.district"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Latitude <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="location.latitude"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Longitude <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="location.longitude"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="reload()">Reload</ion-button>
    <ion-button (click)="saveEntry(location)" [disabled]="disableEntryButton">Simpan</ion-button>
    <ion-button (click)="clear()">Clear Form</ion-button>
</ion-content>
