<ion-header>
  <ion-toolbar>
    <ion-title>
      Tentang Kami
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-list>
    <ion-list-header>
        Yayasan Suara Hati
    </ion-list-header>
  </ion-list>
  <ion-text>
      <h2 color="primary">Dasar Hukum</h2>
      <h3>Akta Notaris</h3>
      <p>Indra Rachmandhana S.H M.Kn No 6 Tahun 2016</p>
      <h3>SK Menkum HAM RI</h3>
      <p>AHU-AH.01.06-1611 Tahun 2015</p>
      <h3>STP Dinsos Kab Sidoarjo</h3>
      <p>460/3875/438.5.6/2018</p>
      <h3>NPWP</h3>
      <p>03.025.127.6-643.000</p>
  </ion-text>
  <ion-text>
      <h2>Alamat</h2>
      <h3></h3>
      <p>Perumahan Puri Maharani Blok A2 No. 1 Masangan Wetan Sukodono Sidoarjo 61258</p>
  </ion-text>
  <ion-text>
      <h2 color="primary">Kontak</h2>
      <h3></h3>
      <p>WA 0822 3354 1880</p>
      <p>Telp 031 854 7499</p>
  </ion-text>
  <ion-text>
    <h2 color="primary">Rekening</h2>
    <h3></h3>
    <p>BCA 5560097770</p>
    <p>BRI 0684-01-002223-53-5</p>
    <p>Bank Jatim Syariah 6202001734</p>
    <p>BTN Syariah 7032055870</p>
  </ion-text>

</ion-content>
